Repository microsoft/terraform-provider-azuredevops, pull requests merged in 2021-01, with the labels that each got.

#184 Add support for Azure DevOps RunPipelines service endpoint
  CHANGELOG.md
  azuredevops/internal/acceptancetests/resource_serviceendpoint_runpipeline_test.go
  azuredevops/internal/acceptancetests/testutils/hcl.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_runpipeline.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_runpipeline_test.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/azuredevops.erb
  website/docs/r/serviceendpoint_runpipeline.html.markdown
Labels: new-feature, new-resource, waiting-response

#268 Changelog update
  CHANGELOG.md
Labels: documentation

#256 Jfrog Artifactory service endpoint
  azuredevops/internal/acceptancetests/resource_serviceendpoint_artifactory_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_artifactory.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_artifactory_test.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/azuredevops.erb
  website/docs/r/serviceendpoint_artifactory.html.markdown
Labels: new-feature, new-resource, size/XXL
