Repository microsoft/terraform-provider-azuredevops, pull requests merged in 2021-11, with the labels that each got.

#473 adding statusGenre as optional field, fixing/updating docs as well
  azuredevops/internal/service/policy/branch/resource_branchpolicy_status_check.go
  website/docs/r/branch_policy_status_check.html.markdown
Labels: documentation, enhancement

#484 feat: Multi-value data source groups
  azuredevops/internal/acceptancetests/data_groups_test.go
  azuredevops/internal/service/graph/data_groups.go
  azuredevops/internal/service/graph/data_groups_test.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/azuredevops.erb
  website/docs/d/groups.html.markdown
Labels: new-data-source, new-feature

#249 New resource 'azuredevops_serviceendpoint_permissions'
  azuredevops/internal/acceptancetests/resource_serviceendpoint_permissions_test.go
  azuredevops/internal/service/permissions/resource_serviceendpoint_permissions.go
  azuredevops/internal/service/permissions/utils/securityHelper.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/azuredevops.erb
  website/docs/r/serviceendpoint_permissions.html.markdown
Labels: size/XXL, new-resource

#488 v0.1.8 CHANGELOG.md
  CHANGELOG.md
Labels: documentation
