Repository microsoft/terraform-provider-azuredevops, pull requests merged in 2023-07, with the labels that each got.

#806 New resource - `azuredevops_check_required_template`
  .devcontainer/Dockerfile
  azuredevops/internal/acceptancetests/resource_check_required_template_test.go
  azuredevops/internal/service/approvalsandchecks/common_check.go
  azuredevops/internal/service/approvalsandchecks/resource_check_required_template.go
  azuredevops/internal/service/approvalsandchecks/resource_check_required_template_test.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/azuredevops.erb
  website/docs/r/check_required_template.html.markdown
Labels: new-resource

#818 Service connection support for managed identity and federated workload
  azuredevops/internal/acceptancetests/data_serviceendpoint_azurerm_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_azurerm_test.go
  azuredevops/internal/acceptancetests/testutils/hcl.go
  azuredevops/internal/service/serviceendpoint/data_serviceendpoint_azurerm.go
  azuredevops/internal/service/serviceendpoint/migration/serviceendpoint_azurerm_migration_v1_to_v2.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azurerm.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azurerm_test.go
  website/docs/d/serviceendpoint_azurerm.html.markdown
  website/docs/r/serviceendpoint_azurerm.html.markdown
Labels: new-feature

#838 [Data Source] - `azuredevops_environment`
  azuredevops/internal/acceptancetests/data_environment_test.go
  azuredevops/internal/service/taskagent/data_environment.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/azuredevops.erb
  website/docs/d/environment.html.markdown
Labels: new-data-source

#834 feat: added timeout as attribute to checks
  azuredevops/internal/acceptancetests/resource_check_branch_control_test.go
  azuredevops/internal/acceptancetests/resource_check_business_hours_test.go
  azuredevops/internal/service/approvalsandchecks/resource_check_branch_control.go
  azuredevops/internal/service/approvalsandchecks/resource_check_branch_control_test.go
  azuredevops/internal/service/approvalsandchecks/resource_check_business_hours.go
  azuredevops/internal/service/approvalsandchecks/resource_check_business_hours_test.go
  website/docs/r/check_branch_control.html.markdown
  website/docs/r/check_business_hours.html.markdown
Labels: enhancement, new-feature
