Repository microsoft/terraform-provider-azuredevops, pull requests merged in 2023-08, with the labels that each got.

#617 feat: Azure devops service connections for maven, jenkins and nexus
  azuredevops/internal/acceptancetests/resource_serviceendpoint_jenkins_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_maven_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_nexus_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_jenkins.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_jenkins_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_maven.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_maven_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_nexus.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_nexus_test.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/azuredevops.erb
  website/docs/r/serviceendpoint_jenkins.html.markdown
  website/docs/r/serviceendpoint_maven.html.markdown
  website/docs/r/serviceendpoint_nexus.html.markdown
Labels: documentation, new-resource

#778 Avoid fetch only 100 teams
  azuredevops/internal/service/core/data_team.go
  azuredevops/internal/service/core/data_team_test.go
  azuredevops/internal/service/core/data_teams.go
  azuredevops/internal/service/core/data_teams_test.go
  azuredevops/internal/service/core/resource_team.go
  website/docs/d/data_team.html.markdown
  website/docs/d/data_teams.html.markdown
Labels: enhancement

#856 Remove Hashing From Service Endpoints
  azuredevops/internal/acceptancetests/resource_serviceendpoint_aws_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_azurerm_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_dockerregistry_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_generic_git_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_sonarcloud_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_sonarqube_test.go
  azuredevops/internal/service/serviceendpoint/commons.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_aws.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_aws_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azuredevops.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azurerm.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azurerm_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_bitbucket.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_dockerregistry.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_dockerregistry_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_generic.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_generic_git.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_github.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_github_enterprise.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_github_enterprise_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_incomingwebhook.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_kubernetes.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_runpipeline.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_sonarqube.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_sonarqube_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_ssh.go
  azuredevops/internal/utils/secretmemo/secretmemo.go
  azuredevops/internal/utils/secretmemo/secretmemo_test.go
  azuredevops/internal/utils/tfhelper/tfhelper.go
  go.mod
  vendor/golang.org/x/crypto/bcrypt/base64.go
  vendor/golang.org/x/crypto/bcrypt/bcrypt.go
  vendor/modules.txt
Labels: enhancement, breaking-change, technical-debt

#861 `azuredevops_serviceendpoint_azurerm` - Support `workload_identity_federation_issuer` and `workload_identity_federation_subject`
  azuredevops/internal/acceptancetests/data_serviceendpoint_azurerm_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_azurerm_test.go
  azuredevops/internal/service/serviceendpoint/data_serviceendpoint_azurerm.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azurerm.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azurerm_test.go
  website/docs/d/serviceendpoint_azurerm.html.markdown
  website/docs/r/serviceendpoint_azurerm.html.markdown
Labels: enhancement, service connection

#863 Refactoring all service connections
  azuredevops/internal/acceptancetests/resource_serviceendpoint_azurecr_test.go
  azuredevops/internal/service/serviceendpoint/commons.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_argocd.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_artifactory.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_aws.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azurecr.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azuredevops.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azurerm.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_bitbucket.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_dockerregistry.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_externaltfs.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_gcp_terraform.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_generic.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_generic_git.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_github.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_github_enterprise.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_incomingwebhook.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_jenkins.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_jenkins_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_jfrog_artifactory_v2.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_jfrog_distribution_v2.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_jfrog_platform_v2.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_jfrog_xray_v2.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_kubernetes.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_maven.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_nexus.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_npm.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_octopus_deploy.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_runpipeline.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_servicefabric.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_sonarcloud.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_sonarqube.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_ssh.go
Labels: technical-debt, service connection

#866 [new resource] - `azuredevops_serviceendpoint_nuget`
  azuredevops/internal/acceptancetests/resource_serviceendpoint_nuget_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_bitbucket.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_nuget.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/azuredevops.erb
  website/docs/r/serviceendpoint_nuget.html.markdown
Labels: new-resource, service connection
