Repository microsoft/terraform-provider-azuredevops, pull requests merged in 2024-05, with the labels that each got.

#1011 Basic Feed Management
  azdosdkmocks/feed_sdk_mock.go
  azuredevops/internal/acceptancetests/data_feed_test.go
  azuredevops/internal/acceptancetests/resource_feed_permission_test.go
  azuredevops/internal/acceptancetests/resource_feed_test.go
  azuredevops/internal/client/client.go
  azuredevops/internal/service/feed/data_feed.go
  azuredevops/internal/service/feed/resource_feed.go
  azuredevops/internal/service/feed/resource_feed_permission.go
  azuredevops/internal/service/feed/resource_feed_permission_test.go
  azuredevops/internal/service/feed/resource_feed_test.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/feed/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/feed/models.go
  vendor/modules.txt
  website/docs/d/feed.html.markdown
  website/docs/r/feed.html.markdown
  website/docs/r/feed_permission.html.markdown
Labels: documentation, dependencies, new-resource, new-data-source

#1032 New Resource - `azuredevops_wiki`
  azdosdkmocks/wiki_sdk_mock.go
  azuredevops/internal/acceptancetests/resource_wiki_test.go
  azuredevops/internal/acceptancetests/testutils/hcl.go
  azuredevops/internal/client/client.go
  azuredevops/internal/service/wiki/resource_wiki.go
  azuredevops/internal/service/wiki/resource_wiki_test.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/wiki/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/wiki/models.go
  vendor/modules.txt
  website/azuredevops.erb
  website/docs/r/wiki.html.markdown
Labels: new-resource

#702 Add Wiki Resource
  azdosdkmocks/wiki_sdk_mock.go
  azuredevops/internal/acceptancetests/resource_wiki_test.go
  azuredevops/internal/acceptancetests/testutils/hcl.go
  azuredevops/internal/client/client.go
  azuredevops/internal/service/wiki/resource_wiki.go
  azuredevops/internal/service/wiki/resource_wiki_test.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v6/wiki/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v6/wiki/models.go
  vendor/modules.txt
  website/azuredevops.erb
  website/docs/r/wiki.html.markdown
Labels: waiting-response, new-feature
