Repository microsoft/terraform-provider-azuredevops, pull requests merged in 2025-03, with the labels that each got.

#1328 [New Resource] `azuredevops_extension`
  azuredevops/internal/acceptancetests/resource_extension_test.go
  azuredevops/internal/client/client.go
  azuredevops/internal/service/extension/resource_extension.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/extensionmanagement/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/extensionmanagement/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/gallery/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/gallery/models.go
  vendor/modules.txt
  website/docs/r/extension.html.markdown
Labels: new-resource, new-feature

#1335 Add data resource git_repository_file for issue #634
  azuredevops/internal/acceptancetests/data_git_repository_file_test.go
  azuredevops/internal/service/git/data_git_repository_file.go
  azuredevops/internal/service/git/data_git_repository_file_test.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/docs/d/git_repository_file.html.markdown
Labels: new-data-source

#1337 Add CreateBuildDefinition
  website/docs/r/build_folder_permissions.html.markdown
Labels: documentation
