Repository microsoft/terraform-provider-azuredevops, pull requests merged in 2025-01, with the labels that each got.

#1267 [New Resourece] `azuredevops_serviceendpoint_checkmarx_sca`
  azuredevops/internal/acceptancetests/resource_serviceendpoint_azure_service_bus_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_checkmarx_sca_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_dynamic_lifecycle_services_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_gitlab_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_snyk_test.go
  azuredevops/internal/acceptancetests/resource_serviceendpoint_visualstudiomarketplace_test.go
  azuredevops/internal/acceptancetests/testutils/serviceendpoint.go
  azuredevops/internal/service/git/resource_git_repository.go
  azuredevops/internal/service/git/resource_git_repository_test.go
  azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_checkmarx_sca.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/docs/r/serviceendpoint_checkmarx_sca.html.markdown
Labels: new-resource, service connection

#1253 Feature/service principal entitlement
  .vscode/settings.json
  README.md
  azuredevops/internal/acceptancetests/data_service_principal_test.go
  azuredevops/internal/acceptancetests/resource_service_principal_entitlement_test.go
  azuredevops/internal/acceptancetests/testutils/hcl.go
  azuredevops/internal/service/graph/data_service_principal.go
  azuredevops/internal/service/graph/data_service_principal_test.go
  azuredevops/internal/service/identity/data_identity_user.go
  azuredevops/internal/service/memberentitlementmanagement/resource_service_principal_entitlement.go
  azuredevops/internal/service/memberentitlementmanagement/resource_service_principal_entitlement_test.go
  azuredevops/internal/service/memberentitlementmanagement/resource_user_entitlement.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/docs/d/service_principal.html.markdown
  website/docs/r/service_principal_entitlement.html.markdown
Labels: new-resource, new-feature

#1274 [New Resource] `azuredevops_check_rest_api`
  azuredevops/internal/acceptancetests/resource_check_rest_api_test.go
  azuredevops/internal/acceptancetests/testutils/pipelinechecks.go
  azuredevops/internal/service/approvalsandchecks/resource_check_rest_api.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  website/docs/r/check_rest_api.html.markdown
Labels: new-resource

#1280 [Document] Update the document of the service connection data resources
  .golangci.yml
  website/docs/d/serviceendpoint_azurecr.html.markdown
  website/docs/d/serviceendpoint_azurerm.html.markdown
  website/docs/d/serviceendpoint_bitbucket.html.markdown
  website/docs/d/serviceendpoint_github.html.markdown
  website/docs/d/serviceendpoint_npm.html.markdown
  website/docs/d/serviceendpoint_sonarcloud.html.markdown
Labels: documentation, size/XS

#1283 [Document] - `azuredevops_feed_retention_policy` - Fix formatting error
  website/docs/r/feed_retention_policy.html.markdown
Labels: documentation

#1284 [New resource] `azuredevops_dashboard`
  CHANGELOG.md
  azuredevops/internal/acceptancetests/resource_dashboard_test.go
  azuredevops/internal/client/client.go
  azuredevops/internal/service/core/resource_team.go
  azuredevops/internal/service/dashboard/resource_dashboard.go
  azuredevops/provider.go
  azuredevops/provider_test.go
  azuredevops/utils/commons.go
  azuredevops/utils/dashboardextra/client.go
  azuredevops/utils/dashboardextra/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/dashboard/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/v7/dashboard/models.go
  vendor/modules.txt
  website/docs/r/dashbaord.html.markdown
Labels: documentation, size/XL, new-resource, sdk
